.category {
    height: 530px;
    width: 100%;
    border: 1px solid #c0bfbf;
    background-color: #fff;
}

.category-items {
    margin-top: 1px;
}

.carousel-banner {
    height: 530px;
}

.category-list {
    border-bottom: 1px solid #c0bfbf;
    padding: 8px 15px;
    margin: 0;
}

.category-list:hover {
    background-color: #7DCE13;
    color: white;
}

.carousel-header ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    margin: auto;
}

.carousel-img {
    height: 455px;
    width: 100%;
    margin-top: 36px;
}

.carousel-caption {
    z-index: 900;
}

.caption-text {
    font-size: 2.5rem;
    font-weight: 800;
}

.carousel-inner {
    position: relative;
}

.control-btn {
    position: absolute;
    bottom: 4%;
    left: 10%;
}

.carousel-control-btn {
    height: 20px;
    width: 16px;
    background-color: grey;
    padding: 15px;
}

.carousel-control-prev {
    position: relative;
}

.carousel-control-next {
    position: absolute;
    left: 45px;
}

/* carousel indicators */
.carousel-indicators [data-bs-target] {
    border: 2px solid white;
    border-radius: 55%;
    height: 10px;
    width: 10px;
    background-color: gray;
    z-index: 900;
    margin-bottom: 15px;
}

.carousel-indicators .active {
    background-color: #7DCE13;
}
logoFooter
.cart-icon {
    position: relative;
}

.cart-text {
    position: absolute;
    background: #7DCE13;
    font-size: 8px;
    color: white;
    padding: 1px 6px;
    border-radius: 50%;
    z-index: -99;
}

@media only screen and (max-width: 425px) {
    .nav-tabs{
        width: 37%;
    }
    .carousel-header ul {
        justify-content: space-between;
        padding: 0 10px;
    }
    .carousel-banner {
        height: 420px;
    }
    .carousel-img {
        height: 350px;
        margin-top: 15px;
    }
    .carousel-indicators [data-bs-target] {
        margin-bottom: 35px;
    }
    .control-btn {
        position: absolute;
        bottom: 3%;
        left: 40%;
    }
    
}